
<div class="center jumbotron">
  <h1>Bienvenido a la pagina de GPI</h1>

  <h2>
    Por ahora habra un boton para Ingresar un nuevo usuario, pero hay que cambiarlo
  </h2>

  <%= link_to "Registrarse", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("moonmen.png", alt: "moonmen logo") %>
<% if false %>
<%= image_tag("kitten.jpg", alt: "Gato") %>
<%= link_to image_tag("messi.jpg", alt: "Messi Cagon"),
            'https://www.youtube.com/watch?v=FVEvnASjDbA' %>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<% end %>
