<h1>Inventario de bodega <%= @localizacion %></h1>
<br>

<div class="table-responsive">
<div class="row">
<div class="col-xs-3">
</div>
<div class="col-md-6">
<table class="table table-hover table-stripped table-condensed" id="inventario_table">
  <thead class="thead-dark">
    <tr>
      <th>Material</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <% if @central %>
  <tbody>
    <% @material_bodega.each do |mat| %>
      <tr>
        <td><%= mat.material.nombre %></td>
        <td><%= mat.stock_central %></td>
        
      </tr>
    <% end %>
  </tbody>
  <% else %>
  <tbody>
    <% @material_bodega.each do |mat| %>
      <tr>
        <td><%= mat.material.nombre %></td>
        <td><%= mat.stock_obra %></td>
        
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
</div>
<div class="col-xs-3">
</div>
</div>

<% if @central %>
<div class="row">
<div class="col-xs-12 col-md-6 col-md-offset-3">
<%= link_to "Agregar nuevo material", {:action=>"agregar", :controller => "inventario" }, :class => "btn btn-default" %>
</div>
</div>
<% end %>

<% if @personal %>
  <div class="row">
      <div class="col-md-2 col-md-offset-2">
          <%= link_to "Retirar materiales", {:action => "sacar"}, class: "btn btn-primary" %>
      </div>
  </div>
<% end %>

</div>