<h1> Solicitudes de materiales </h1>

<div class="solicitudes">
<ul>
<% if current_user.puesto == 1%>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
        <%= link_to "Crear nueva solicitud", {:action => "new"}, class: "btn btn-primary" %>
    </div>
</div>
<% end %>

<hr>
<% @solicitudes.each do |solicitud| %>
    <div class="row">
    <div id="solicitud_<%= solicitud.id %>" class="solicitud col-md-7 col-md-offset-2">
        <li><h4>Solicitud #<%=solicitud.id%> - de <%= solicitud.bodega_obra.localizacion %> a <%= solicitud.bodega_central.localizacion %></h4></li>
        <br>
        <div class="row">
            <div class="col-md-3">
                <h5> Estado:  
                    <% if solicitud.estado == "pendiente" %>
                        <span class="label label-warning"><%= solicitud.estado.capitalize %> </span>
                    <% elsif solicitud.estado == "en_camino" %>
                        <span class="label label-primary"><%= solicitud.estado.capitalize.sub '_', ' ' %> </span>
                    <% else %>
                        <span class="label label-success"><%= solicitud.estado.capitalize %> </span>
                    <% end %>
                </h5>
            </div>
        </div>
        <% if current_user.puesto == 2%>
            <% if solicitud.estado == "pendiente" %>
                <div class="col-md-3 col-md-offset-7">
                    <%= button_to "Ir a solicitud", {:id => solicitud.id, :action => "responder", }, class: "btn btn-info" %>
                </div>
            <% end %>
        <% end %>
        
        <br>
        <br>
        <br>
        </div>
        <div class="row">
        <div class="col-md-6 col-md-offset-2">
        <table class="table table-condensed table-hover text-center">
            <thead>
            <tr>
                <th class="text-center">Material</th>
                <th class="text-center">Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <% solicitud.solicitud_materials.each do |solmat| %>
                <tr>
                    <td><%= solmat.material.nombre %></td>
                    <td><%= solmat.cantidad %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
        </div>
        </div>
    </div>
    </div>
    <hr>
<% end %>
</ul>
</div>