<h1> Solicitud #<%=@solicitud.id%> - de <%=@solicitud.bodega_obra.localizacion%> </h1>

<div class="container">
<div class="row">
        <div class="col-md-1 col-md-offset-2">
        <h5> Estado:  </h5>
        </div>
        <% if @solicitud.estado == "pendiente" %>
        <div class=col-md-2>
        <h5 class="bg-warning"><%= @solicitud.estado.capitalize %> </h5>
        </div>
        <% elsif @solicitud.estado == "en_camino" %>
        <div class=col-md-2>
        <h5 class="bg-primary"><%= @solicitud.estado.capitalize %> </h5>
        </div>
        <% else %>
        <div class=col-md-2>
        <h5 class="bg-success"><%= @solicitud.estado.capitalize %> </h5>
        </div>
        <% end %>
        <br>
        <br>
        <br>
        </div>
    <div class="row">
    <div class="col-md-4 col-md-offset-2">
        <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th> Material </th>
                        <th> Cantidad </th>
                    </tr>
                </thead>
            <% @solicitud.materials.each do |mat| %>
                    <tbody>
                        <tr>
                            <td><%= mat.nombre %></td>
                            <td><%= SolicitudMaterial.find_by(solicitud: @solicitud, material: mat).cantidad%></td>
                        </tr>
                    </tbody>
            <%end%>
        </table>
        </div>
    </div>
</div>
