<div class="row center">
    <h3>Solicitud #<%= @solicitud.id %> - de <%= @bodega_obra.localizacion %> a <%= @solicitud.bodega_central.localizacion %></h3>
</div>
<br>
<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <p> Material </p>
    </div>
    <div class="col-md-3">
        <p> Cantidad </p>
    </div>
</div>

    <% @sol.each do |sm| %>
        <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <%= sm.material.nombre %>
        </div>
        <div class="col-md-3">
            <%= sm.cantidad%>
        </div>
        </div>
    <% end %>

<br>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
        <%= button_to "Agregar material", :action => "add" %>
    </div>
</div>