<div class="row center">
    <h3>Solicitud #<%= @solicitud.id %> - de <%= @bodega_obra.localizacion %> a <%= @solicitud.bodega_central.localizacion %></h3>
</div>
<br>
<% if @sol.size == 0 %>
<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <p> <strong> No hay materiales agregados </strong> </p>
    </div>
</div>

<% else %>
<div class="row">
<div class="col-md-6 col-md-offset-2">
<table class="table table-condensed">
    <thead>
    <tr>
        <th> Material </th>
        <th> Cantidad </th>
    </tr>
    </thead>
<% end %>
    <% @sol.each do |sm| %>
        <tbody>
        <tr>
        <td><%= sm.material.nombre %></td>
        <td><%= sm.cantidad%></td>
        </tr>
        </tdody>
    <% end %>
</table>
</div>
</div>

<br>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
        <%= button_to "Agregar material", :action => "add" %>
    </div>
</div>