<p id="notice"><%= notice %></p>

<h1>Bodega Obras</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bodega_obras.each do |bodega_obra| %>
      <tr>
        <td><%= link_to 'Show', bodega_obra %></td>
        <td><%= link_to 'Edit', edit_bodega_obra_path(bodega_obra) %></td>
        <td><%= link_to 'Destroy', bodega_obra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bodega Obra', new_bodega_obra_path %>
