<p id="notice"><%= notice %></p>

<h1>Bodega Centrals</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bodega_centrals.each do |bodega_central| %>
      <tr>
        <td><%= link_to 'Show', bodega_central %></td>
        <td><%= link_to 'Edit', edit_bodega_central_path(bodega_central) %></td>
        <td><%= link_to 'Destroy', bodega_central, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bodega Central', new_bodega_central_path %>
